#header-logo {
    max-width: 12%;
}

#main-logo {
    max-width: 30%;
}

.navbar-light .navbar-nav .nav-link {
    color: #00BFFF;
    font-family: "Comic Sans MS", "Comic Sans", monospace;

}

.navbar-light .navbar-nav .nav-link.active {
    color: #DC143C;
    font-family: "Comic Sans MS", "Comic Sans", monospace;
}